<div class="dashboard">
    <div class="dashboard-header">
     <nav>
       <button routerLink="/dashboard">Tableau de bord</button>
       <button routerLink="/files">Fichiers/Dossiers</button>
       <button routerLink="/users">Collaborateurs</button>
       <button routerLink="/groups">Groupes</button>
       <button routerLink="/metadata">Métadonnées</button>
     </nav>
     <div class="header-card-container">
      <div class="header-card">
        <app-log-list></app-log-list>
      </div>
     </div>
    </div>
  </div>
