<div class="popup-bg">

  <div class="add-professor">
    <button class="close" routerLink="../..">X</button>
    <div class="add-professor-container">
        <h2>Ajouter un fichier</h2>
        <form [formGroup]="addDossierForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="name">Nom</label>
            <input type="text" id="nom" formControlName="nom" required />
          </div>
          <button type="submit" [disabled]="!addDossierForm.valid" class="add-button">
            j'ajoute le dossier
          </button>
        </form>
      </div>
  </div>
</div>
