
<section id="header">
  <div class="container">
    <nav class="navbar">
      <img src="../../../assets/FileLynx logo hh.png" alt="FILELYNX LOGO" class="logo">
      <div class="nav-links">
        <a href="#">Accueil</a>
        <a href="#">Fonctionnalités</a>
        <a href="#">Contactez-nous</a>
      </div>
      <button routerLink="/login">CONNEXION</button>
    </nav>
    <div class="header-body">
      <div class="above">
        <div >
          <h1 class="title1">Outil de gestion de fichier optimisé pour votre comfort</h1>
        </div>
        <div >
          <h1 class="title2">Optimisez votre gestion de fichier avec <span>Filelynx</span></h1>
        </div>
        <button routerLink="/register">CREEZ UN COMPTE</button>
      </div>
      <div class="under">
        <img src="../../../assets/oooo.png" alt="body-image" class="body-image">
      </div>
    </div>
    <div class="header-items">
      <div class="item">
        <div class="logo">
          <img src="../../../assets/firewall.svg" alt="firwall logo">
        </div>
        <div class="text">
          <h5>Partage sécurisé de fichiers</h5>
          <p>Vous pouvez utiliser une icône de cadenas ou de bouclier pour représenter cet avantage</p>
        </div>
      </div>
      <div class="item">
        <div class="logo">
          <img src="../../../assets/loupe.svg" alt="loupe logo">
        </div>
        <div class="text">
          <h5>Accès rapide et facile aux fichiers</h5>
          <p>Vous pouvez utiliser une icône de loupe ou de dossier avec une fleche pointant vers celui-ci pour representer cet avantage</p>
        </div>
      </div>
      <div class="item">
        <div class="logo">
          <img src="../../../assets/folder.svg" alt="">
        </div>
        <div class="text">
          <h5>Organisation efficace des fichiers</h5>
          <p>Vous pouvez utiliser une icône de loupe ou de dossier avec une fleche pointant vers celui-ci pour representer cet avantage</p>
        </div>
      </div>
    </div>
  </div>
</section>