

<h2>Liste des Logs</h2>
<div class="professors-list-container">
    <!-- <div class="filters">
        <input [(ngModel)]="searchValue" (input)="onSearch()" placeholder="Recherche par Nom" />
        <select [(ngModel)]="nameOrder" (ngModelChange)="onNameOrderChange($event)">
            <option value="">Ordre par nom</option>
            <option value="ASC">Nom A-Z</option>
            <option value="DESC">Nom Z-A</option>
        </select>
        <button routerLink="add-groupe" class="add-prof">+ Ajouter Groupe</button>
    </div> -->
    <table>
        <thead>
            <tr>
                <th>Déclencheur</th>
                <th>Type</th>
                <th>Message</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let log of logs">
                <td>
                    <p>{{ log.trigger.nom ? log.trigger.nom.charAt(0).toUpperCase() + log.trigger.nom.slice(1) : '' }}</p>
                </td>
                <td>
                    <p>{{log.type}}</p>
                </td>
                <td>
                    <p>{{log.message}}</p>
                </td>
                <td>
                    <p>{{ log.date | date | slice:0:12 }}</p>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="pagination">
        <button (click)="prevPage()" [disabled]="page === 0" class="pagination-button">&laquo;</button>
        <span class="current-page">{{ page + 1 }}</span>
        <button
            class="pagination-button"
            (click)="nextPage()"
            [disabled]="(page + 1) * pageSize >= totalLogs"
        >&raquo;
        </button>
    </div>
</div>
<router-outlet></router-outlet>
