.dashboard-header{
    background: rgb(105, 255, 149);
    background: linear-gradient(90deg, rgba(105, 255, 149, 1) 0%, rgba(31, 82, 78, 1) 100%);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 100px 0 100px;
    flex-direction: column;
  }

  nav button{
    font-weight: 500;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    padding: 5px 15px 5px 15px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 0.9em;
    transition: 0.2s ease;
  }

  nav button:hover{
    background-color: rgba(255, 255, 255, 0.3);
  }

  nav{
    display: flex;
    gap: 40px;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);;
  }

  .header-card{
    padding: 24px;
    background-color: white;
    box-shadow: 1px 20px 27px -2px rgba(0,0,0,0.15);
    -webkit-box-shadow: 1px 20px 27px -2px rgba(0,0,0,0.15);
    -moz-box-shadow: 1px 20px 27px -2px rgba(0,0,0,0.15);
    border-radius: 10px;
    overflow: hidden;
  }

  .header-card-container{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      ". .";
    justify-content: space-evenly;
    align-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    width: 100%;
  }

  .header-card-title{
    color : #3C3C3E;
    font-weight: 500;
    margin-bottom: 22px;
  }
