<div class="login-wrapper">
    <div class="decoration">
      <img src="../../../assets/logo.svg" alt="FILELYNX LOGO">
    </div>
    <div class="login-form">
      <img src="./../../../assets/FileLynx logo hh.png" alt="" class="logo" routerLink="/home">
        <div>
            <h1 class="login-title">Créer un compte pour commencer</h1>
        </div>
      <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="alert centered" *ngIf="f.submitted && isSignUpFailed">
        L'inscription a échoué!<br />{{ errorMessage }}
      </div>
        <div class="form-group">
          <label for="username">Nom de Compagnie<span class="required">*</span></label>
          <input type="text" class="form-control" name="username" [(ngModel)]="form.username" required minlength="3" maxlength="20" #username="ngModel"/>
          <div class="alert-danger" *ngIf="username.errors && f.submitted">
            <div *ngIf="username.errors['required']" class="alert">Nom de Compagnierequis</div>
            <div *ngIf="username.errors['minlength']" class="alert">
              Le nom de Compagniedoit comporter au moins 3 caractères
            </div>
            <div *ngIf="username.errors['maxlength']" class="alert">
              Le nom de Compagniedoit comporter au maximum 20 caractères</div>
          </div>
        </div>
        <div class="form-group">
          <label for="email">Email <span class="required">*</span></label>
          <input type="email" class="form-control" name="email" [(ngModel)]="form.email" required email #email="ngModel"/>
          <div class="alert-danger" *ngIf="email.errors && f.submitted">
            <div *ngIf="email.errors['required']" class="alert">Email requis</div>
            <div *ngIf="email.errors['email']" class="alert">
              L'e-mail doit être une adresse e-mail valide
            </div>
          </div>
        </div>
        <!-- <div class="form-group">
          <label for="compagnie">Nom de la compagnie <span class="required">*</span></label>
          <input type="compagnie" class="form-control" name="compagnie" [(ngModel)]="form.compagnie" required minlength="6" #compagnie="ngModel" />
          <div class="alert-danger" *ngIf="compagnie.errors && f.submitted">
            <div *ngIf="compagnie.errors['required']"class="alert">compagnie est requis</div>
            <div *ngIf="compagnie.errors['minlength']" class="alert">
              La compagnie doit comporter au moins 6 caractères
            </div>
          </div>
        </div> -->
        <div class="two-inputs">
          <div class="left">
            <label for="password">Mot de passe <span class="required">*</span></label>
            <input type="password" class="form-control" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel" />
            <div class="alert-danger" *ngIf="password.errors && f.submitted">
              <div *ngIf="password.errors['required']"class="alert">Mot de passe requis</div>
              <div *ngIf="password.errors['minlength']" class="alert">
                Mot de passe doit comporter au moins 6 caractères
              </div>
            </div>
          </div>
          <div class="right">
            <label for="confirmPassword">Verifiez <span class="required">*</span></label>
            <input type="Password" class="form-control" name="confirmPassword" [(ngModel)]="form.confirmPassword" required minlength="6" #confirmPassword="ngModel" />
            <div class="alert-danger" *ngIf="confirmPassword.errors && f.submitted">
              <div *ngIf="confirmPassword.errors['required']"class="alert">Vérification requise</div>
              <div *ngIf="confirmPassword.errors['minlength']" class="alert">
                Mot de passe doit comporter au moins 6 caractères
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">Créer mon compte</button>
          <!-- <p class="question">Already have an account? <a routerLink="/login">Sign-in</a></p> -->
        </div>        
      </form>
  
      <div class="success" *ngIf="isSuccessful">
        Votre inscription est réussie! <a routerLink="/login" id="sign-in">Se connecter ici.</a>
      </div>
    </div>

  </div>